<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Modest Grass</title>

    <!-- styling -->


    <!-- javascript -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>

  <body>
    <button>click to enter!</button>

  </body>
</html>
